.contents {
  display: flex;
  gap: 10px;
  margin: 30px;
}
.member-cards {
  display: flex;
  max-height: calc(100vh - 30vh - 60px);
  min-width: calc(100vw - 35px - 50vw);
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}
.task-cards {
  display: flex;
  max-height: calc(100vh - 30vh - 60px);
  min-width: calc(100vw - 35px - 50vw);
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}
